<% @companies.each do |c| %>
  <div class="company-index-container animated fadeInLeft">
    <div class="row">
      <div class="col-12">
        <h2 class="company-index-name text-center p-2 font-italic">
          <%= c.name %>
        </h2>
        <p class="pl-2"> <%= c.created_at.strftime("%b %d, %Y") %>
          <% if c.status == "rejected" %>
             <span class="status-index-rej"> - <%= c.status %></span>
          <% elsif c.status == "pending" %>
             <span class="status-index-pend"> - <%= c.status %></span>
          <% else %>
            <span class="status-index-inq"> - <%= c.status %></span>
          <% end %>

        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="pl-2"> <%= c.summary %> </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="actions-bar-index-company pt-3 pb-3 text-center">
          <%= link_to "Full Company Info", company_path(c), class: "btn btn-outline-info btn-sm m-1" %>
          <%= link_to "Edit", edit_company_path(c), class: "btn btn-outline-primary btn-sm m-1" %>
          <%= link_to "Delete", company_path(c), class: "btn btn-outline-danger btn-sm m-1", method: :delete %>
        </div>
      </div>
    </div>
  </div>
<% end %>
