<div class="container-fluid">
  <div class="row mb-3 mt-2 text-center control-actions p-2">
    <div class="col-sm-4 col-xs-12 p-2">
      <%= render 'filter_companies' %>
    </div>
    <div class="col-sm-4 col-xs-12 p-2">
      <%= link_to new_invitation_path, class: "btn btn-outline-primary m-1" do %>
        Share Progress <i class="fa fa-users"></i>
      <% end %>
      <%= link_to new_company_path, class: "btn btn-outline-primary m-1" do %>
        New <i class="fa fa-plus"></i>
      <% end %>
    </div>
    <div class="col-sm-4 col-xs-12 p-2">
      <p class="applications-data">
        <%= @total_companies %> Applications
      </p>
    </div>
  </div>

  <div class="row text-center mt-2 mb-3">
    <div class="col-12">
      <h1 class="animated bounceInDown font-italic">Companies</h1>
    </div>
  </div>

  <% if !@pending_invitations.empty? %>
    <% @pending_invitations.each do |inv| %>
      <p class="text-center">
        <%= link_to "Accept Invite from #{inv.sent_by}", new_share_path(inv) %>
      </p>
    <% end %>
  <% end %>

  <% if !@shares.empty? %>
    <% @shares.each do |share| %>
      <p class="text-center">
        <%= link_to "View #{share.authorized_by}'s companies", company_shared_index_path(share) %>
      </p>
    <% end %>
  <% end %>


  <% if @companies.empty? %>
    <div class="row">
      <div class="col-12">
        <p class="text-center text-danger"> Looks like you don't have any companies yet!</p>
      </div>
    </div>
  <% else %>
    <%= render 'companies' %>
  <% end %>
</div>
