<div class="container-fluid mt-5">
  <div class="row mb-2">
    <div class="col-12 text-center text-primary">
      <h3>
        Viewing
        <span class="text-danger"><%= "#{@owner.email}'s" %></span>
        companies
      </h3>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-12 text-center">
      <%= render 'filter_shared_companies' %>
    </div>
  </div>

  <% @shared_companies.each do |c| %>
    <div class="company-index-container animated fadeInLeft">
      <div class="row">
        <div class="col-12">
          <%= render partial: "company_header", locals: {c: c} %>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="pl-2"> <%= c.summary %> </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="actions-bar-index-company pt-3 pb-3 text-center">
            <%= link_to "Full Company Info", company_path(c), class: "btn btn-outline-info btn-sm m-1" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @shared_companies %>
