<div class="container mt-2 animated fadeIn">
  <div class="row">
    <div class="col-12">
      <h1 class="font-italic"><strong><%= @company.name %></strong></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="font-italic"><strong><%= @company.job_title %></strong></h3>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
     <a href="<%=@company.website %>"><strong><%= @company.name %> - website</strong></a>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
     <a href="<%=@company.job_post_link %>"><strong><%= @company.name %> - job posting</strong></a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p class="font-italic">Sent application on <%= @company.created_at.strftime("%b %d, %Y") %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="font-italic"><strong>Company Summary</strong></h3>
      <p><%= simple_format @company.summary %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="font-italic"><strong>Company Notes</strong></h3>
      <p><%= simple_format @company.notes %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="font-italic"><strong>Company Cover Letter</strong></h3>
      <p><%= simple_format @company.cover_letter %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="font-italic"><strong>Company Technologies</strong></h3>
      <p><%= simple_format @company.technologies %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="font-italic"><strong>Company Contacts</strong></h3>
      <p><%= simple_format @company.contacts %></p>
    </div>
  </div>
</div>
