<!DOCTYPE html>
<html>
  <head>
    <title>JobTrackingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark page-nav">
      <%= link_to "Home", root_path, class: "navbar-brand" %>
      <form class="form-inline">
        <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
        <% end %>
      </form>
    </nav>
    <div class="flash">
      <%= render 'layouts/messages' %>
    </div>
    <%= yield %>
  </body>
</html>
